body, div{
    margin: 0;
    padding: 0;
    background: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    text-align: center;
    -webkit-transition: 0.4s cubic-bezier(0.3, 0.8, 0.2, 1);
    transition: 0.4s cubic-bezier(0.3, 0.8, 0.2, 1);
}

p {
    font-size: 28px;
    font-weight: 370;
    color: rgb(56, 56, 56);
}


.gradient {
    background: linear-gradient(286deg, #f63333,  #ffd000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.container {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0 0;
}

.container h1, h2,h3, h4, h5, p{
    opacity: 0;
    -webkit-animation: StartUpAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    animation: StartUpAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

@-webkit-keyframes StartUpAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes StartUpAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.titleSlide{
    padding: 0% 0% 0% 0%;
}

.Header {
    box-sizing: border-box;
    width: 100%;
    padding: 2.5% 0 0 2.5%;
}

.HeaderGroup {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1;
    grid-gap: 10px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 85%;
}


.Header .LogoGroup {
    display: grid;
    grid-template-columns: auto auto;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 7.5px;
    justify-self: end;
    text-decoration: none;
    color: inherit;
    -webkit-transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.Header .LogoGroup:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.Header .LogoGroup .LogoText {
    font-size: 18px;
    font-weight: 600;
    -webkit-letter-spacing: -0.78px;
    -moz-letter-spacing: -0.78px;
    -ms-letter-spacing: -0.78px;
    letter-spacing: -0.78px;
}

.maps {
    width: 100%;
    height: 500px;
    opacity: 0;
    -webkit-animation: StartUpAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    animation: StartUpAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

}

